*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Comfortaa', cursive;
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    margin-top: -200px;
}
.nav{
    margin-top: 0px;
    background-color:black;
    height: 40px;
    font-size: small;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:black;
    
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .nav2{
      float: right;
  }
  .nav a:hover{
      color: orangered;
  }
  .sale img{
      margin-bottom: 10px;
      width: 1349px;
  }
  .tittle{
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
  }
  .container {
    width: 30%;
    margin: auto;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #f89fa8;
    padding: 20px;
    margin-bottom: 40px;
}
    input[type=text] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
 
input[type=submit] {
    background-color: #b8b8df;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
 
input[type=submit]:hover {
    background-color: blue;
}
.footer a{
    color: white;
    margin: 20px;
    font-size: 13px;
}
.footer p{
    color: grey;
    font-size: 12px;
    width: 280px;
    margin: 10px;
}
.footer{
    display: block;
    position:relative;
    background-color: black;
    height: 230px;
}
.col1{
    position:absolute;
    margin-top: 17px ;
    line-height: 17px;
}
.col2 {
    /* margin: 0px 400px 100px; */
    /* margin-bottom: 100px; */
    display: block;
    margin-left: 400px;
    padding: 20px 30px;
}
.col2 p{
    margin: 0px 20px;
    cursor: pointer;
    line-height: 32px;
}
.col2 p:hover{
    color: orangered;
}
.col3 {
    margin: 0px 650px;
    margin-top: -199px;
    width: 200px;
}
.col3 p{
    margin: 0px 20px;
    cursor: pointer;
    line-height: 32px;
}

.col3 p:hover{
    color: orangered;
}
.col4{
    margin:0px 900px;
    margin-top: -179px ;
    width: max-content;
}
.col4 p{
    margin: 0px 20px;
    cursor: pointer;
    line-height: 32px;
}
.col4 p:hover{
    color: orangered;
}
.col5{
    position:absolute;
    top:17px;
    right:50px;
    height:50px;
    width:100px;
}
.socialicon a{
    margin: 10px 20px 0px 30px;
    background-color: grey;
    border-radius: 50px;
}
.socialicon a:hover{
    background-color: orangered;
}
